<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
		<meta property="og:type" content="website" />
    	<meta property="og:site_name" content="HackerCat" />
		<meta property="og:title" content="Announcement" />
		<meta property="og:description" content="Announcement sent at {{ send_date }} from {{ author }}"/>
		<meta name="theme-color" content="#008AFC">
	</head>
	<body>
		<h1>Announcement {{ id }}</h1>
		<h3>Sent at {{ send_date }} from {{ author }}</h3>
		<hr>
		<p>{{ message }}</p>
	</body>
</html>